.vscode/tasks.json
DatabaseManager.csproj
config.xml
.vscode/launch.json
bin/Debug/netcoreapp2.1/DatabaseManager.dll
bin/Debug/netcoreapp2.1/DatabaseManager.pdb
bin/Debug/netcoreapp2.1/DatabaseManager.deps.json
bin/Debug/netcoreapp2.1/DatabaseManager.runtimeconfig.json
bin/Debug/netcoreapp2.1/DatabaseManager.runtimeconfig.dev.json
obj/DatabaseManager.csproj.nuget.cache
obj/DatabaseManager.csproj.nuget.g.props
obj/DatabaseManager.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/DatabaseManager.dll
obj/Debug/netcoreapp2.1/DatabaseManager.pdb
obj/Debug/netcoreapp2.1/DatabaseManager.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/DatabaseManager.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/DatabaseManager.assets.cache
obj/Debug/netcoreapp2.1/DatabaseManager.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/DatabaseManager.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/DatabaseManager.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.1/project.razor.json
